.rapBarOut {
	border: solid 1px #bab;
	cursor: pointer;
	position: relative;
	user-select: none;
}

.rapBarIn {
	position: absolute;
	height: 100%;
	box-shadow: inset -2px -2px 4px rgba(0,0,0,0.6),inset 2px 2px 4px rgba(255,255,255,0.6);
	z-index: 1;
}
